.contact {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 5rem;
  max-width: 30rem;
  background-color: var(--contact-background);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  text-align: center;
  
}

.header h1 {
  font-size: 1.5rem;
  color: var(--header-contact);
  margin-bottom: 1rem;
}

.header p {
  font-size: 0.875rem;
  color: rgb(var(--contact-text-rgb));
  margin-bottom: .5rem;
}

.info {
  font-size: 0.875rem;
  color: rgb(var(--contact-text-rgb));
}


.link:hover,
.link:active {
  opacity: 65%;
}

@media (max-width: 600px) {
  .contact {
    padding: 2rem;
    max-width: 75%;
  }

  .header h1 {
    font-size: 1.2rem;
  }

  .info {
    font-size: 0.75rem;
  }
}
