.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    background-color: rgb(var(--background-start-rgb));
    border-bottom: 1px solid rgb(var(--muted-text-rgb));
    z-index: 1000; 
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 0.75rem;
  }
  
  .nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .header a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  
  .span {
    color: rgb(var(--foreground-rgb));
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .header {
      padding: .6rem 10%;
    }
  }